body {
    background:linear-gradient(45deg, #f8d7e0, white, #f8d7e0, white, #f8d7e0, white, #f8d7e0, white, #f8d7e0, white, #f8d7e0, white, #f8d7e0, white);
    margin: 0px;
}

header {
    background: pink;
    color: #6B7A8F;
    text-align: center;
    margin-top: -20px;
    padding: 15px;
}

h2 {
    justify-self: center;
}

p {
    justify-self: center;
    color: #D3D7DD;
}

a:hover {
    color: lightcoral;
}

.cards {
    background: #F5E3F5;
    border-radius: 20px;
    width: 300px;
    border: 2px solid lightcoral;
    justify-self: center;
    margin-top: 20px;
    padding: 10px;
}